html,
body {
  font-family: "Gilroy";
  font-size: 16px;
  background-color: #ffffff;
  color: #000;
}

.es-border {
  border: 1px solid #000;
}

.bg-black{
  background-color: #000;
}

.text-white{
  color: #ffffff;
}

.text-14 {
  font-size: 0.875rem;
}

.text-18 {
  font-size: 1.125rem;
}

.text-20 {
  font-size: 1.125rem;
}

.text-700 {
  font-weight: 700;
}

.text-400 {
  font-weight: 400;
}

.text-500 {
  font-weight: 500;
}

.btn-hover-white:hover {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000;
}

.btn-hover-black:hover {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #000;
}

.es-red-text {
  color: #ff3d00;
}

.findy-btn {
  border: 1px solid #000000;
  border-radius: 0;
  padding: 0.75rem 2rem;
  transition: ease all 300ms;
}

.findy-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.findy-navbar {
  padding: 1rem;
}

.navbar-bars {
  color: #000000;
  font-size: 1.25rem;
}

.navbar-bars:hover {
  color: #000000;
}

.findy-navbar .nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.findy-navbar .nav-item .nav-link {
  padding: 0.3rem 0;
  font-weight: 500;
  position: relative;
  color: #000000;
}

.findy-navbar .navbar-nav .active {
  border-bottom: 1px solid #000000;
}

.findy-navbar .nav-item .nav-link i {
  font-size: 1.2rem;
}

.findy-navbar .navbar-brand {
  line-height: 0;
}

.findy-navbar .navbar-brand img {
  height: 0.9rem;
}

.badge-cart {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 3px;
  right: -10px;
  background-color: red;
  color: #ffffff;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1rem;
  padding: 0 0.4em;
}

.mobile-nav {
  background: #ffffff;
  border-top: 1px solid #ccc2b6;
  border-bottom: 1px solid #ccc2b6;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1040;
  bottom: 0;
}

.mobile-nav .nav {
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mobile-nav .nav-link {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0.75rem;
  position: relative;
  font-size: 1.5rem;
}

.mobile-nav .nav-link i {
  margin-bottom: 0.5rem;
}

.mobile-nav .nav-link span {
  font-size: 0.75rem;
  font-weight: 400;
}

main {
  margin-top: 4.1rem;
}

.main-carousel {
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.main-carousel .carousel-control-prev {
  left: -7rem;
  font-size: 2rem;
  color: #000000;
}

.main-carousel .carousel-control-next {
  right: -7rem;
  font-size: 2rem;
  color: #000000;
}

.menu-grid-block {
  margin-bottom: 5rem;
}

.menu-grid {
  display: flex;
  flex-direction: row;
}

.menu-grid-item {
  flex: 1;
}

.mg-yellow {
  background-color: #f7f1ba;
}

.mg-green {
  background-color: #c4f7db;
}

.mg-purple {
  background-color: #d0defc;
}

.mg-pink {
  background-color: #fce4d9;
}

.mgi-content {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}

.menu-grid-item a:hover {
  text-decoration: none !important;
}

h1.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  margin-bottom: 2rem;
}

.product-list {
  margin-bottom: 3rem;
}

.product-card {
  border: 1px solid #000000;
  position: relative;
  text-align: center;
  margin-bottom: 1.75rem;
}

.product-options {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 1rem;
  align-items: center;
}

.favorite-btn {
  color: rgba(0, 0, 0, 0.8);
}

.es-remove-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.product-detail {
  padding: 1rem;
}

.product-flag {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.product-category a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  font-weight: 300;
}

.product-name {
  margin-bottom: 0.5rem;
}

.product-name a {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 1.125rem;
}

.product-real-price .price {
  font-weight: 500;
  font-size: 1.25rem;
}

.product-real-price .currency {
  font-size: 0.875rem;
  font-weight: 300;
}

.product-discount-price {
  font-size: 0.875rem;
  text-decoration: line-through;
}

.product-controls {
  padding: 1rem 1rem 2rem;
}

.btn-minus,
.btn-plus {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.1541;
}

.product-quantity {
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  border-top: 1px solid #000000;
}

.footer-left {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-right: 1px solid #000000;
}

.footer-content {
  display: flex;
  align-items: center;
  margin-bottom: 8.5rem;
}

.footer-logo {
  margin-right: 3rem;
}

footer .nav .nav-link {
  color: #000000;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer .nav .nav-item .nav-link:hover {
  text-decoration: underline;
}

.footer-right {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.socials {
  margin-bottom: 3rem;
}

.socials li {
  margin-right: 1.5rem;
}

.socials a {
  font-size: 1.5rem;
  color: #000000;
}

.apps {
  margin-bottom: 1rem;
}

.apps img {
  height: 2.125rem;
  margin-right: 0.75rem;
}

.apps a:hover {
  text-decoration: none;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-header-block {
  position: relative;
  margin-bottom: 2rem;
}

.modal-title {
  font-weight: 500;
  font-size: 1.25;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-body {
  position: relative;
  padding: 2rem 4rem;
}

.modal-body .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 1;
  line-height: 30px;
}

.modal-body .close i {
  font-size: 1.5rem;
  color: #000000;
}

.modal-header {
  padding: 0;
  height: 1.125rem;
  border-bottom: 0;
  border-radius: 0;
}

.form-control {
  padding: 0.5rem 1rem;
  height: calc(1.5em + 1.5rem + 2px);
  border: 1px solid #a3a3a3;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #a3a3a3;
}

.form-group {
  margin-bottom: 1.5rem;
}

.agreement-check {
  margin-bottom: 1.5rem;
}

.agreement-check .form-check-label {
  color: #a3a3a3;
  cursor: pointer;
}

.social-auth {
  margin-bottom: 2rem;
}

.social-auth a {
  color: #000000;
}

.social-auth img {
  height: 1rem;
  margin-right: 0.5rem;
}

.via-google {
  margin-bottom: 0.5rem;
}

.empty-cart {
  padding: 1rem 2rem 4rem;
  text-align: center;
}

.ec-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.ec-text {
  margin-bottom: 1.5rem;
}

.cart-list {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.cart-item {
  display: table-row;
}

.cart-item > div {
  display: table-cell;
  vertical-align: middle;
}

.cart-img {
  width: 15%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.cart-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cart-detail {
  padding: 1rem;
}

.cart-control {
  width: 20%;
  text-align: center;
  padding: 1rem;
}

.cart-control-btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #000000;
}

.cart-control-btn:hover {
  text-decoration: none;
  color: #000000;
}

.cart-quantity {
  padding: 0 0.25rem;
  font-size: 1.25rem;
}

.cart-price {
  width: 20%;
  text-align: right;
}

.cart-price .price {
  font-size: 1.25rem;
  font-weight: 500;
}

.cart-price .currency {
  font-size: 0.875rem;
  font-weight: 300;
}

hr {
  background-color: #000000;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cart-total-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.cart-total-price .price {
  font-size: 1.25rem;
  font-weight: 500;
}

.cart-total-price .currency {
  font-size: 0.875rem;
  font-weight: 300;
}

.cart-btns {
  text-align: right;
  margin-bottom: 2rem;
}

.checkout-btn {
  background-color: #d0defc;
}

.bg-blue {
  background-color: #d0defc;
}

.bg-green {
  background-color: #c4f7db;
}

.bg-yellow {
  background-color: #f7f1ba;
}

.bg-pink {
  background-color: #fce4d9;
}

.bg-purple {
  background-color: #d0defc;
}

.bg-red {
  background-color: #fcd2d2;
}

.bg-orange {
  background-color: #fce4d9;
}

.es-bg-blue {
  background-color: #d0defc;
}

.es-back-btn-wrapper {
  padding: 56px 0 40px 0;
}

.es-back-btn-wrapper .btn {
  padding: 0;
  border-radius: 0;
}

.es-back-btn-text {
  font-size: 0.75rem;
  margin-left: 0.625rem;
}

.es-back-ic {
  padding: 0.75rem 1rem;
  border: 1px solid #000;
}

.categories-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transform: translateY(-100%);
  margin: 4.125rem 0 4.75rem;
  row-gap: 50%;
}

.category-link {
  height: 4.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
  text-decoration: none;
}

.category-link :hover {
  color: #000;
}

.category-link.active {
  background-color: #fff;
  color: #000;
}

.category-link:nth-child(even) {
  border: 1px solid #000;
}

.category-link:nth-child(odd) {
  border: 1px solid #000;
}

.category-link:nth-child(odd) {
  transform: translateY(100%);
}

.filter-btn {
  font-weight: 500;
  padding: 0.625rem 1.25rem;
  letter-spacing: 0.1em;
  border-radius: 0;
}

.filter-btn.active {
  text-decoration: underline;
}

.es-filter-nav {
  margin-bottom: 5.25rem;
}

.filter-label {
  font-weight: 500;
  font-size: 0.875rem;
  margin-right: 1.375rem;
}

#filter-type {
  height: 2.5rem;
  border-radius: 0;
  border: 1px solid #000;
  background-color: #fff;
  padding: 0 2rem 0 1.625rem;
  font-weight: 500;
  font-size: 0.875rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper {
  position: relative;
  display: flex;
}

.select-wrapper::after {
  content: "▼";
  font-size: 0.65rem;
  top: 13px;
  right: 20px;
  position: absolute;
}

.pr-desc-item * {
  font-size: 0.75rem;
}

.pr-child-img-slider {
  width: 380px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}

.main-img {
  height: 500px;
}

.main-img img {
  min-width: 100%;
  min-height: 100%;
}

.pr-child-img-slider .slick-arrow,
.pr-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pr-child-img-slider .es-prev-slick,
.pr-slider .es-prev-slick {
  left: -50px;
}
.pr-child-img-slider .es-next-slick,
.pr-slider .es-next-slick {
  right: -50px;
}

.child-img {
  padding: 0 5px;
  height: 120px;
  width: 120px;
}

.child-img img {
  min-height: 100%;
}

.desc-value {
  font-weight: 500;
}

.pr-name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 19.6px;
}

.pr-title {
  font-size: 0.75rem;
  line-height: 16.8px;
  margin-bottom: 0;
}

.pr-desc-container {
  margin-bottom: 2rem;
}

.pr-weights {
  margin-top: 3px;
  display: flex;
}

.pr-weight-option {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 0.625rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.pr-weight-option.active {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.pr-weight-option:hover {
  background-color: #000;
  color: #fff;
}

.pr-view-price {
  margin-top: 1rem;
}

.pr-view-price .pr-price {
  font-weight: 700;
  font-size: 1.25rem;
}

.pr-view-price .pr-currency {
  font-size: 0.875rem;
  font-weight: 400;
}

.pr-view-off-price .pr-price {
  color: #ff3d00;
  font-size: 0.875rem;
  font-weight: 700;
}

.pr-view-off-price .pr-currency {
  font-weight: 400;
  font-size: 0.875rem;
  color: #ff3d00;
}

.add-cart {
  padding: 0.625rem 1.25rem;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  margin-top: 1rem;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
}

.pr-view-text {
  font-weight: 400;
  font-size: 0.75rem;
}

.pr-view-text-wrapper {
  height: 100%;
  max-height: 32.5rem;
  overflow-y: auto;
  padding-right: 2.625rem;
}

.pr-info-wrapper {
  margin-bottom: 6.875rem;
}

.es-subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 2.8125rem;
}

.pr-slider {
  margin-bottom: 6.25rem;
}

.gray-bg {
  background-color: #f4f4f4;
}

.es-checkout-title {
  margin-bottom: 2rem;
}

.es-checkout-subtitle {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.checkout-options {
  margin-bottom: 1.375rem;
  margin-left: -0.5rem;
}

.input-container {
  margin-bottom: 1.375rem;
}

.input-container label {
  font-weight: 700;
  font-size: 1.125rem;
  display: block;
}

.input-container input,
.input-container textarea {
  background-color: transparent;
  resize: none;
}

.address-input {
  margin-bottom: 1rem;
}

.light-grey-text {
  color: #a3a3a3;
}

.final-address-title {
  font-size: 0.875rem;
  font-weight: 400;
}

.final-address {
  line-height: 19.2px;
  text-decoration: underline;
  margin-bottom: 0.8rem;
}

.es-gray-btn {
  border-color: #a3a3a3;
  width: 153px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  margin-right: 1.25rem;
}

.es-gray-btn.active {
  color: #000;
  border-color: #000;
}

.es-gray-btn:hover {
  border-color: #000;
}

.order-final-details {
  margin-bottom: 2.5rem;
}

.order-final-detail {
  display: flex;
  justify-content: space;
  align-items: baseline;
  justify-content: space-between;
}

.user-checkout-inputs {
  border-bottom: 1px solid #000;
  padding-bottom: 3.125rem;
  margin-bottom: 1.5rem;
}

.confirm-order-btn {
  font-size: 0.875rem;
  color: #fff;
  background-color: #000;
  border-radius: 0;
  height: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.confirm-order-btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

.pb-120 {
  padding-bottom: 7.5rem;
}

.checkout-map {
  width: 50%;
  right: 0;
  top: 0;
  height: calc(100% - 7.5rem);
}

.about-map {
  width: 55%;
  right: 0;
  top: 0;
  height: 100%;
}

.company-image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-btn {
  color: #a3a3a3;
  padding: 0;
  margin-right: 1.875rem;
}

.tab-btn:hover {
  color: #000;
}

.tab-btn.active {
  background-color: transparent !important;
  color: #000;
  border-bottom: 1px solid #000 !important;
}

.es-nav-tabs {
  margin-bottom: 1.25rem;
}

.page-main-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
}

.toggle-group {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.toggle-group input[type="radio"] {
  display: none;
}

.toggle-group label {
  display: inline-block;
  margin-right: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #a3a3a3;
  border-bottom: 1px solid transparent;
}

.toggle-group input[type="radio"]:checked + label {
  border-bottom: 1px solid #000;
  color: #000;
}

.user-code-input {
  width: 153px;
  margin-right: 1.25rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group input[type="radio"] {
  display: none;
}

.checkbox-group label {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.checkbox-group label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.125rem;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.checkbox-group input[type="radio"]:checked + label:before {
  content: "";
  font-size: 1em;
  text-align: center;
  line-height: 1em;
  border-radius: 0;
  background-color: #000;
}

.comment-area {
  height: 204px;
}

.pb-10 {
  line-height: 30px;
}

.product-img img {
  min-width: 100%;
}

.es-profile-pc {
  width: 175px;
  height: 175px;
  border-left: 0;
  border-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1.875rem;
}

.profile-inner-card {
  padding: 2rem;
}

.es-mb-158 {
  margin-bottom: 9.875rem;
}

.es-text-right {
  text-align: end;
}

.order-history-table th {
  white-space: nowrap;
}

.order-history-table th:last-child,
.order-history-table td:last-child {
  text-align: end;
  white-space: nowrap;
}

.search-bar-container {
  height: 700px;
}

.search-btn {
  height: 50px;
}

.search-results {
  border: 1px solid #a3a3a3;
  padding: 20px;
  margin-top: 10px;
}

.error-page {
  height: calc(100vh - 66.6px - 282px);
}

.error-page h1{
  font-size: 90px;
}